/*font-family: 'Wendy One', sans-serif;
font-family: 'Hind Guntur', sans-serif;*/

body {
    background-color: #5d90ff;
    font-family: 'Hind Guntur', sans-serif;
    height: 100%;
}


/********************************
      ALTER BOOTSTRAP CSS
********************************/

.navbar {
    border-radius: 0;
}

.navbar-header .navbar-brand {
    color: #fff;
    font-family: 'Wendy One', sans-serif;
}

.search_projects.bootstrap-iso {
    background-color: inherit;
}

.btn-primary {
    background-color: gold;
    color: #222;
    border-color: darkgoldenrod;
}

.btn-primary:hover {
    background-color: #ffe86f;
    color: #222;
    border-color: darkgoldenrod;
}


/************************
        HOMEPAGE
************************/

.quote {
    color: #fff;
}

.involve-hr {
    height: 1px;
    color: #222;
    background-color: #222;
}

.entry_links a {
    padding: 15px 25px;
}

.entry_links a:first-child {
    margin-right: 5px;
}

.entry_links a:last-child {
    margin-left: 5px;
}


/*.main-body {
    min-height: 515px;
}*/


/************************
          LOGIN
************************/

#login_form {
    max-width: 350px;
    margin: auto;
}


/************************
        REGISTRATION
************************/

.register_user {
    margin-top: 2em;
}

.register_user a {
    margin: .5em;
    padding: 1em 1.25em;
    font-size: 1.25em;
}


/************************************
        ORG_SIGNUP / VOL_SIGNUP
************************************/

.create_user_heading {
    margin-bottom: 2em;
}

#signup_form {
    max-width: 350px;
    margin: auto;
}


/************************
        PROJECTS
************************/

table, th, tr, td {
    border: 2px solid lightgray;
    text-align: center;
}

table {
    width: 100%;
    border-radius: 10px;
}


/************************
          FOOTER
************************/

footer {
    padding: 15px;
    background-color: #222;
    width: 100%;
}

footer, footer a {
    color: #fff;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    /* This line and the next line are not necessary unless you need IE6 support */
    height: 100%;
    margin: 0 auto 0;
    /* the bottom margin is the negative value of the footer's height */
}

.footer, .push {
    height: 50px;
    /* .push must be the same height as .footer */
}
