{% extends "layout.html" %} {% block body %}
<h1>Get Involved</h1>
<hr class="involve-hr">
<div class="row quote">
    <div class="col-xs-12 text-center">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
</div>
<hr class="involve-hr">

<div class="row entry_links">
    <div class="col-xs-12 text-center">
        <a class="btn btn-primary" href="/login">Login</a>
        <a class="btn btn-primary" href="/registration">Register</a>
    </div>
</div>

{% endblock %}


<!-- <a href="/projects">View all Projects</a> -->
