{% extends "layout.html" %}
<p>
    asdfasdfasdfd
</p>
{% block body %}
<div class="row center-block">
    <h1>{{title}}</h1>
</div>
{% for entry in entry_list %}
<div class="container">
    <div class="jumbotron">
        <div class="center-text">
            <label for="">Oranization Name</label>
            <p>
                {{entry.name}}
            </p>
            <label for="">Description</label>
            <p>
                {{entry.desription}}
            </p>
        </div>
    </div>
</div>
{% endfor %} {% endblock %}
